@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'Century Gothic';
    src: url('/Fonts/Century\ Gothic.ttf');
    font-size: small;
}
@font-face {
    font-family: 'LEMONMILK';
    src: url('/Fonts/LEMONMILK.otf');
    font-size: small;
}

:root{
    --Green : #7BB662;
    --Orange : #FFAE42;
}

*{
    font-family: 'Century Gothic';
}