
/* Tableu */
#formt{
    margin-left: 250px;
    margin-top: 100px;
    text-align: left;
    
}


.textarea{
    top: 0%;
    left: 0%;
    padding: 0%;
    
}

/* footer */
footer{
    background: var(--Green);
    height: auto;
    width: 98vw;
    font-family: "Open Sans";
    padding-top: 0em;
    color: var(--black);
    margin-top: 2rem;
    border-radius: 0 0 30px 30px;
    
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foot h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.foot p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
}
.socials li{
    font-size: medium;
}
.foot-bottom{
    background-color: var(--black);
    width: 98vw;
    padding: 5px 0;
    text-align: center;
    border-radius: 0 0 30px 30px;
}
.foot-bottom{
    color: var(--Green);
}
.foot-h3{
    font-size: small;
}



