@font-face {
    font-family: 'Century Gothic';
    src: url('../../Fonts/Century\ Gothic.ttf');
    font-size: small;
}
@font-face {
    font-family: 'LEMONMILK';
    src: url('../../Fonts/LEMONMILK.otf');
    font-size: small;
}

:root{
    --Green : #7BB662;
    --Dark-Green : #6BA652;
    --Orange : #FFAE42;
    --Dark-Orange : #EF9E32;
}

*{
    font-family: 'Century Gothic';
}

body{
    background-color: var(--Orange);
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--Orange);
}
::-webkit-scrollbar-thumb{
    background-color: var(--Green);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--Dark-Green);
}