
.Login-container{
    position: absolute;
    top: 16%;
    left: 35%;
    width: 30%;
    height: 20em;
    background-color: var(--Green);
    border-radius: 2em;
    box-shadow: 0.1em .15em rgba(0, 0, 0, 0.5);
}

#Logo-Login{
    margin-top: 4%;
    margin-left: 35%;
    width: 30%;
    
}

.InputBar{
    display: block;
    width: 80%;
    margin-top: 1.3em;
    margin-left: 10%;
    border: none;
    background-color: var(--Light-Green);
    border-radius: .5em;
    opacity: 75%;
    color: var(--Orange);
    font-size: 24px;
    padding-left: 2%;
}
.InputBar:hover{
    transition-duration: 150ms;
    outline: var(--Dark-Orange) solid;
}
.InputBar::placeholder{
    color: var(--Orange);
}
.InputBar:focus{
    outline: var(--Dark-Orange) solid;
}
.InputBar:focus::placeholder{
    color: transparent;
}

#Login-btn{
    display: block;
    width: 45%;
    margin-top: 1.3em;
    margin-left: 27.5%;
    border: none;
    outline: var(--Light-Green) solid;
    background-color: var(--Light-Green);
    border-radius: .5em;
    opacity: 75%;
    color: var(--Green);
    font-size: 24px;
    padding-left: 2%;
    cursor: pointer;
}
#Login-btn:hover{
    transition-duration: 150ms;
    outline: var(--Dark-Green) solid;
    color: var(--Dark-Green);
}
#Login-btn:focus{
    outline: var(--Dark-Orange) solid;
}

@media screen and (max-width: 575px) {
    .Login-container{
        top: 20%;
        left: 15%;
        width: 70%;
    }
    #Logo-Login{
        margin-top: 10%;
        margin-left: 30%;
        width: 40%;
    }
    .InputBar{
        margin-left: 4%;
        width: 90%;
    }
    #Login-btn{
        width: 65%;
        margin-left: 17.5%;
    }
}
