.InputBar-A{
    display: block;
    width: 50%;
    margin-top: 1.3em;
    margin-left: 25%;
    border: none;
    background-color: var(--Light-Green);
    border-radius: .5em;
    opacity: 75%;
    color: var(--Orange);
    font-size: 24px;
    padding-left: 2%;
}
.InputBar-A:hover{
    transition-duration: 150ms;
    outline: var(--Dark-Orange) solid;
}
.InputBar-A::placeholder{
    color: var(--Orange);
}
.InputBar-A:focus{
    outline: var(--Dark-Orange) solid;
}
.InputBar-A:focus::placeholder{
    color: transparent;
}
#image{
    width: 30%;
    margin-left: 35%;
}


#create-btn{
    display: block;
    width: 30%;
    margin-top: 1.3em;
    margin-left: 35%;
    border: none;
    outline: var(--Light-Green) solid;
    background-color: var(--Light-Green);
    border-radius: .5em;
    opacity: 75%;
    color: var(--Green);
    font-size: 22px;
    padding-left: 2%;
    cursor: pointer;
}
#create-btn:hover{
    transition-duration: 150ms;
    outline: var(--Dark-Green) solid;
    color: var(--Dark-Green);
}
#create-btn:focus{
    outline: var(--Dark-Orange) solid;
}

.image-input{
    border-color: var(--Orange);
    width: 30%;
    margin-left: 35%;
}

#lbl-image{
    border: 2px solid var(--Light-Green);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: var(--Light-Green);
    transition: .5s;
    color: var(--Dark-Orange);
}

#lbl-image:hover {
    background-color: var(--Dark-Orange);
    border: 2px solid var(--Dark-Orange);
    color: var(--Green);
}
#a-legend{
    font-family: "LEMONMILK";
    color: var(--Orange);
}
@media screen and (max-width: 575px) {
    .image-input{
        margin-left: 10%;
    }
}