.LoginInfo{
    width: 2em;
    height: 2em;
    background-color: var(--Orange);
    border: 2px solid var(--Green);
    border-radius: 10em;
    cursor: pointer;
    top: 3%;
    right: 3%;
    z-index: 10;
    /* overflow: hidden; */
}


.LoginInfoanimation_in{
    animation: Div_Animation_in 1s ease-in-out forwards;
}

.LoginInfoanimation_in:after {
    content: "";
    position: absolute;
    top: 44%;

    height: 58%;
    left: -2%;
    width: 104%;
    box-shadow: .05em .15em rgba(0, 0, 0, 0.5);
    transform: perspective(400px) rotateX(-0deg);
    transform-origin: center top;
    border-radius: 1em;
    z-index: -1;
}

.LoginInfoanimation_out{
    animation: Div_Animation_out 1s ease-in-out forwards;
}

#PFP{
    border-radius: 10em;
    width: 2em;
}

.PFPanimation_in{
    animation: PFP_animation_in 1s ease-in-out forwards;
}

.PFPanimation_out{
    animation: PFP_animation_out 1s ease-in-out forwards;
}

#Linfo-list{
    position: absolute;
    top: 5%;
    left: -43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.Linfo-list-unhide{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 150ms;
}
.Linfo-list-hide{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 150ms;
}

.Linfo-btn{
    font-size: .7em;
    margin: 1em;
    width: 9.5em;
    height: 2em;
    border-radius: 5em;
    border: 2px solid var(--Dark-Green);
    background-color: var(--Orange);
    color: var(--Dark-Green);
    cursor: pointer;
}

.Linfo-btn:hover{
    border: 2px solid var(--Green);
    background-color: var(--Green);
    color: var(--Dark-Orange);
    cursor: pointer;
}

@keyframes PFP_animation_in {
    0%{
        opacity: 100%;
        rotate: 0deg;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
        rotate: -90deg;
    }
}

@keyframes PFP_animation_out {
    100%{
        opacity: 100%;
        rotate: 0deg;
    }
    50%{
        opacity: 25%;
    }
    0%{
        opacity: 0%;
        rotate: -90deg;
    }
}

@keyframes Div_Animation_in {
    0%{
        width: 2em;
        border-radius: 2em;
        position: fixed;
    }
    50%{
        width: 7em;
        position: fixed;
    }
    100%{
        position: fixed;
        width: 7em;
        height: 6em;
        border-radius: 1em;
        /* box-shadow: 0.1em 0.15em rgba(0, 0, 0, 0.5); */
    }
}

@keyframes Div_Animation_out {
    0%{
        position: fixed;
        width: 7em;
        height: 6em;
        border-radius: 1em;
        box-shadow: 0em 0.15em rgba(0, 0, 0, .5);
    }
    50%{
        width: 7em;
        position: fixed;
    }
    100%{
        width: 2em;
        border-radius: 2em;
        position: fixed;
    }
}